@import "normalize";
@import "_reset";
@import "_fonts";
@import "_media";

html, body, #app {
  height: 100%;
}

body.no-scroll {
  overflow: hidden;
}

* {
  font-family: Inter;
}

.title-default {

  font-family: Inter;
  font-size: 60px;
  font-weight: 800;
  line-height: 66px;
  color: var(--black);


  &.size-24 {

    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
  }
}

.bold {
  font-weight: 600;
}


.btn {
  &__default {
    width: 100%;
    padding: 14px;
    cursor: pointer;
    box-sizing: border-box;

    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;

    border-radius: 4px;
    border: none;

    @include media_mobile{
      font-size: 14px;
      line-height: 20px;
      margin-top: 12px;
    }

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(1);
    }

    &.disabled {
      pointer-events: none;
      color: var(--primary-extra);
      background-color: var(--primary-light);

      &:hover {
        color: var(--primary-extra);
        background-color: var(--primary-light);
      }
    }
  }

  &__outline {
    background-color: inherit;
    border: solid 1px var(--primary);

    color: var(--primary);
  }

  &__action {
    color: #FFFFFF;
    justify-content: center;

    &:hover {
      background-color: var(--perfume);
    }

    &:active {
      background-color: var(--perfume);
    }
  }

}


.form-group {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-top: 16px;

  @include media_mobile {
    margin-top: 12px;
  }

  .help-message {
    display: flex;
    justify-content: space-between;

    a {
      font-weight: 500;
    }
  }

  label {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--gray);
    margin-bottom: 8px;

    @include media_mobile {
      font-size: 12px;
      line-height: 18px;
    }
  }

  input {
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    border: solid 1px var(--perfume);
    border-radius: 8px;
    padding: 14px 16px;
    position: relative;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;

    @include media_mobile {
      font-size: 14px;
      line-height: 20px;
      height: 48px;
    }


    &::placeholder {
      color: var(--grey-content);
    }
    &:focus {
      outline: none;
      border-color: #5418C3;
    }

    &[type="password"] {
      -webkit-text-security: square;
    }

    &:hover {
      border-color: var(--primary);
    }
  }

  .input-section {
    position: relative;

    .button-suffix {
      top: 16px;
      right: 16px;
    }
  }
  span {
    display: none;
    font-family: Inter;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    color: var(--red);
    margin-top: 6px;

    @include media_mobile {
      font-size: 12px;
      line-height: 18px;
    }
  }

  button {
    &.btn-password{
      position: absolute;
      right: 15px;
      top: 43px;
      cursor: pointer;

      width: 20px;
      height: 20px;
      padding: 0;
      margin: 0;

      background-color: transparent;
      border: none;


      &.hide {
        mask-image: url("@/assets/image/hide-password.svg");
      }


      .icon-password {
        background-color: black;
        mask-image: url("@/assets/image/icon/icon-pasword.svg");
      }
    }
  }

  &.error {
    input {
      border-color: var(--red);
    }

    span {
      display: block;
    }
  }
}

.form-item {
  &__radio {
    position: relative;
    cursor: pointer;
    height: auto;

    .form-control {
      position: relative;

      padding-left: 28px;

      font-size: 16px;
      line-height: 24px;


      @include media_tablet {
        font-size: 14px;
        line-height: 20px;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        width: 17px;
        height: 17px;
        border: 1.5px solid var(--grey-line);

        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
      }

    }

    input {
      position: absolute;
      cursor: pointer;
      top: 2px;
      left: 1px;
      opacity: 0;
      z-index: 1;
      border: 1px solid var(--perfume);

      width: 20px;
      height: 20px;

      &:not(:checked) + .form-control {
        &::before {
          border-color: var(--perfume);
        }
      }

      &:checked + .form-control {
        &::before {
          border-color: var(--primary);
        }

        &::after {
          content: "";
          width: 10px;
          height: 10px;
          background: var(--primary);
          top: 5px;
          left: 5px;
          position: absolute;
          border-radius: 100%;
        }
      }
    }

    &:hover {
      .form-control {
        &::before {
          border-color: var(--primary);
        }
      }
    }
  }
}

.form {
  background-color: var(--selago);
  margin-top: 44px;
  box-shadow: var(--shadow);
  width: 402px;
  min-height: 374px;

  @include media_mobile {
   width: 355px;
   min-height: 318px;
  }

}

.auth-section {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  @include media_mobile {
    padding: 0 10px;
  }

  height: 100%;

  min-height: 518px;
  min-width: 402px;



  .form-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    gap: 24px;
    max-width: 434px;
    width: 100%;

    @include media_mobile {
      max-width: 100%;
      gap: 12px;
    }

    a {
      font-family: Inter;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-decoration: underline;
      color: var(--jaguar);


      @include media_mobile {
        font-size: 12px;
        line-height: 18px;
      }
    }

    .auth-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      border-radius: 16px;
      border: 1px solid var(--grey-line);

      width: 100%;

      @include media_mobile {
        margin-top: 56px;
      }


      .title-form {
        .login {
          font-family: Inter;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0em;
          color: var(--grey-content);

          @include media_mobile {
            font-size: 12px;
            line-height: 18px;
          }

          .login-span {
            margin-left: 6px;
            font-weight: 500;
          }
        }
      }
      .form {
        padding: 32px 26px;
        box-sizing: border-box;
        border-radius: 6px;

        @include media_mobile {
          padding: 10px ;
        }
        .form-group {
          position: relative;

          display: flex;
          flex-direction: column;
          margin-top: 16px;

          @include media_mobile {
            margin-top: 12px;
          }

          .help-message {
            display: flex;
            justify-content: space-between;

            a {
              font-weight: 500;
            }
          }

          label {
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: left;
            color: var(--grey-content);
            margin-bottom: 8px;

            @include media_mobile {
              font-size: 12px;
              line-height: 18px;
            }
          }

          input {
            width: 100%;
            height: 48px;
            box-sizing: border-box;
            border: solid 1px var(--perfume);
            border-radius: 8px;
            padding: 14px 16px;
            position: relative;
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;

            @include media_mobile {
              font-size: 14px;
              line-height: 20px;
              height: 48px;
            }

            &::placeholder {
              color: var(--gray);
            }
            &:focus {
              outline: none;
              border-color: var(--purple-heart);
            }

            &[type="password"] {
              -webkit-text-security: square;
            }
          }

          span {
            display: none;
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0em;
            color: var(--red);
            margin-top: 8px;

            @include media_mobile {
              font-size: 12px;
              line-height: 18px;
            }
          }

          &.error {
            input {
              border-color: var(--red);
            }

            span {
              display: block;
            }
          }
        }

        .icon {
         width: 20px;
         height: 20px;
        }
      }
      .accept {
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        color: var(--grey-content);
        margin-top: 16px;

        @include media_mobile {
          margin-top: 12px;
          font-size: 12px;
          line-height: 18px;
        }

        a {
          font-weight: 400;
          margin-left: 3px;

          @include media_mobile {
            font-size: 12px;
            line-height: 18px;
          }
        }
      }
    }

    .auth-section {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;

      width: 100%;
      height: 100%;

      @include media_mobile {
        padding: 20px 16px 5px;
        align-items: stretch;
      }

      .form-container {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;

        gap: 24px;
        max-width: 434px;
        width: 100%;

        @include media_mobile {
          max-width: 100%;
          gap: 12px;
        }

        a {
          font-family: Inter;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0em;
          text-decoration: none;

          color: var(--primary);

          @include media_mobile {
            font-size: 12px;
            line-height: 18px;
          }
        }

      }
    }
  }
}

button {
  cursor: pointer;
  &.btn-icon {
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    flex-direction: row-reverse;
  }

  &.primary {
    padding: 14px 16px;
    box-sizing: border-box;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: 4px;

    &:hover {
      background-color: var(--primary-hover);
    }
  }
  &.loader_button {

    min-width: 110px;
    position: relative;
    background-color: rgba(156, 128, 208, 0.43);
    color: transparent;

    &.primary {
      background-color: #5418C36E;
      color: transparent;
      .icon {
        display: none
      }

    }

    .example {
      transform: scale(0.5);
      position: absolute;
      left: calc(100% / 2 - 5px);
    }
    .loader-content {
      --d:22px;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      color: var(--accept);
      box-shadow:
              calc(1*var(--d))      calc(0*var(--d))     0 0,
              calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
              calc(0*var(--d))      calc(1*var(--d))     0 2px,
              calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
              calc(-1*var(--d))     calc(0*var(--d))     0 4px,
              calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
              calc(0*var(--d))      calc(-1*var(--d))    0 6px;
      animation: l27 1s infinite steps(8);
    }
    @keyframes l27 {
      100% {transform: rotate(1turn)}
    }

  }

  &.btn-password{
    position: absolute;
    right: 15px;
    top: 43px;
    cursor: pointer;

    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;

    background-color: transparent;
    border: none;

    &:hover {

    }

    &.icon-hide {
      mask-image: url("@/assets/image/hide-password.svg");
      background-color: black;
    }

    .icon-password {
      mask-image: url("@/assets/image/show-password.svg");
    }
  }
  .icon {
    mask-repeat: no-repeat;
    mask-position: center;

  }
  .icon-edit {
    mask-image: url("@/assets/image/icon/edit.svg");
    background-color: var(--white);

  }
  &.save {
    background: var(--accept);

    &:hover {
      background-color: var(--accent_hover);
    }
  }
}

.icon {
  width: 20px;
  height: 20px;
  mask-repeat: no-repeat;
  mask-position: center;
}

.icon-image {
  mask-image: url("@/assets/image/icon/image.svg");
  background-color: #ffffff;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid var(--secondary);
  width: 320px;
  padding: 20px;
  border-radius: 4px;
  box-sizing: border-box;

  @include media_mobile {
    padding: 0 12px 0;
    width: 100%;
    border: inherit;
  }



  .work {
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      margin-bottom: 6px;
    }
    .item {
      display: flex;
      align-items: center;
      border-top: 1px solid var(--secondary);
      padding: 14px 0 14px;

      .container-title {
        display: flex;
        gap:12px;
        width: 50%;
      }

      p {
        width: 50%;
      }

      .form-edit {
        display: flex;
        flex-direction: column;
        gap: 8px;
        min-width: 248px;


        label {
          min-width: 220px;
        }

        input, textarea {
          height: 50px;
          background-color: inherit;
          border: 1px solid var(--primary);
          border-radius: 4px;
          padding: 14px 16px;
          box-sizing: border-box;

        }
        textarea {
          min-height: 318px;
        }
      }


      &.bottom {
        border-bottom: 1px solid var(--secondary);
      }

      p {
        font-size: 14px;
        line-height: 20px;
        text-wrap: nowrap;

        &.wrap {
          text-wrap: wrap;

          @include media_mobile {
            width: 170px;
          }
        }

        &.dots {
          max-width: 134px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      .icon-birth {
        mask-image: url("@/assets/image/icon/user/birth.svg");
        background-color: var(--text);
      }
      .icon-call {
        mask-image: url("@/assets/image/icon/user/call.svg");
        background-color: var(--text);
      }
      .icon-company {
        mask-image: url("@/assets/image/icon/user/company.svg");
        background-color: var(--text);
      }
      .icon-compass {
        mask-image: url("@/assets/image/icon/user/compass.svg");
        background-color: var(--text);
      }
      .icon-department {
        mask-image: url("@/assets/image/icon/user/department.svg");
        background-color: var(--text);
      }
      .icon-gender {
        mask-image: url("@/assets/image/icon/user/gender.svg");
        background-color: var(--text);
      }
      .icon-github {
        mask-image: url("@/assets/image/icon/user/github.svg");
        background-color: var(--text);
      }
      .icon-gitlab {
        mask-image: url("@/assets/image/icon/user/gitlab.svg");
        background-color: var(--text);
      }
      .icon-letter {
        mask-image: url("@/assets/image/icon/user/letter.svg");
        background-color: var(--text);
      }
      .icon-member {
        mask-image: url("@/assets/image/icon/user/member.svg");
        background-color: var(--text);
      }
      .icon-visible {
        mask-image: url("@/assets/image/icon/user/visible.svg");
        background-color: var(--text);
      }
      .icon-name {
        mask-image: url("@/assets/image/icon/user/user-icon.svg");
        background-color: var(--text);
      }
      .icon-surname {
        mask-image: url("@/assets/image/icon/user/case.svg");
        background-color: var(--text);
      }
      .icon-nickname {
        mask-image: url("@/assets/image/icon/user/share.svg");
        background-color: var(--text);
      }
    }
  }
}

.icon-search {
  background-image: url("@/assets/image/icon/search.svg");

}
.icon-info {
  background-image: url("@/assets/image/icon/info.svg");

}
.icon-settings {
  background-image: url("@/assets/image/icon/setting.svg");

}
